{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}
  <link rel="icon" href="{{ "/assets/img/vbtc.jpg" | relative_url }}">
  <meta property="og:image" content="https://blog.vbtc.exchange/assets/img/vbtc.jpg" />
  <!-- Start of bitcoinvietnam Zendesk Widget script -->
  <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=20cdd2ce-2f95-4a91-a693-fbacb6ac65d2"> </script>
  <!-- End of bitcoinvietnam Zendesk Widget script -->
