// Placeholder to allow overriding predefined variables smoothly.

$vbtc-green: #9ADD7F;
$vbtc-green-dark: #64914a;
$vbtc-green-bright: #aff593;


// Overrides
$border-color-03: $vbtc-green-dark;
$link-base-color: $vbtc-green-dark;
$link-visited-color: $vbtc-green-dark;
$link-hover-color: $vbtc-green;

